body {
    font-size: 16pt;
    background-color: #F6F1F1;
}

label {
    display: inline;
    min-height: 30pt;
    line-height: 30pt;
    vertical-align: middle;
}

.choice {
    display:none;
    font-size: 14pt;
}

.choice + label {
    margin: 10pt 0pt;
    display: block;
    background: url('ic_choice_blank_selection.png') no-repeat;
    padding-left: 50pt;
}

.choice:checked + label {
    background: url('ic_choice_selected.png') no-repeat;
}

.answered label {
     background: url('ic_choice_blank_selection.png') no-repeat;
}

.answered label.correct {
    background: #c1d5d0;
}

.answered label.incorrect {
    background: url('ic_choice_selected.png') no-repeat;
}
