<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssl.curriculum.math"
    android:versionCode="118"
    android:versionName="1.0.18" >

    <application
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name=".activity.EntranceActivity"
            android:label="@string/title_main_activity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NavigationActivity"
            android:label="@string/title_navi_activity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_main_activity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan"
             >
        </activity>
        <activity
            android:name=".activity.GalleryFlipperActivity"
            android:label="@string/gallery_flipper_activity_title"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/web_view_activity_title"
            android:screenOrientation="landscape" >
        </activity>
        <activity
                android:name=".download.manage.DownloadManageActivity"
                android:screenOrientation="landscape" >
        </activity>

    </application>

    <uses-permission android:name="com.ssl.metadata.provider.READ_WRITE_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

</manifest>
